html {
    box-sizing: border-box;
    font-size: 16px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  ol, ul {
    list-style: none;
  }
  a {
    color: inherit; 
    text-decoration: none; 
  }
  img {
    max-width: 100%;
    height: auto;
  }
  @keyframes AnimationName {
    0%{background-position:0% 69%}
    50%{background-position:100% 32%}
    100%{background-position:0% 69%}
}
.background{
        background: linear-gradient(119deg, #e294e6, #ec7f35, #e3bacd, #f3aa8e, #e196d4, #e16e2e);
        background-size: 1200% 1200%;
        animation: AnimationName 11s ease infinite;
        width: 600px;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        border-radius: 8px;
}
.overlay{
    background-image: url("bubbles1.png");
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    font-family: 'Raleway', sans-serif;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
img{
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 46px;
    font-weight: 400;
    margin: 22px;
}
h4{
    font-size: 24px;
    font-weight: 200;
    width: fit-content;
    margin: 0 auto;
}
a{
    font-size: 24px;
    font-weight: 300;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: sienna;
    margin: 22px;
}
li {
    display: block;
    height: 68px;
    width: 68px;
    line-height: 68px;
    -moz-border-radius: 34px; /* or 50% */
    border-radius: 34px; /* or 50% */
    background: #c4c4c479;
    background-blend-mode: luminosity;
    color: black;
    text-align: center;
    margin: 0 15px;
}